<%- partial('_partial/loading') %>

<header id="header" class="site-header clearfix">

  <a class="logo square clearfix" href="<%- url_for() %>">
    
    <span class="b">A</span>
    <span class="b">R</span>
    <span class="b">T</span>
    <span class="w">B</span>
    <span class="w">Y</span>
    <span class="b">Z</span>
    <span class="b">U</span>
    <span class="b">Z</span>
    <span class="b">U</span>
    
    <!-- <% var letters = config.title.split(''); letters.forEach(function(v, i) { %>
      <span class="<%- i%2 === 0 || Math.random() > 0.6 ? 'b' : 'w' %>">
        <%- v %>
      </span>
    <% }); %> -->
  </a>
  <a class="me square site-nav-switch clearfix">
    <span class="b">
    	<span class="icon icon-menu"></span>
    </span>
  </a>

</header>
